@page
@model FilmReference.FrontEnd.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To FilmReference</h1>
    <p>Use this application to track your favourite films and actors / actresses.</p>
</div>
